In [4]:
import pandas as pd

In [5]:
orders_data = pd.read_csv('orders.csv')

In [5]:
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
orders_data.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [6]:
orders_data = orders_data[orders_data['user_id'] < 11]
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
orders_data.shape

(89, 7)

In [9]:
orders_data.to_csv('orders_short.csv')

In [10]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [11]:
order_products__prior.shape

(32434489, 4)

In [7]:
orders = orders_data['order_id'].unique()

In [11]:
order_products__prior = order_products__prior[order_products__prior['order_id'].isin(orders)]

In [16]:
order_products__prior.head()

        order_id  product_id  add_to_cart_order  reordered
221645     23391       13198                  1          1
221646     23391       42803                  2          1
221647     23391        8277                  3          1
221648     23391       37602                  4          1
221649     23391       40852                  5          1

In [17]:
order_products__prior.shape

(885, 4)

In [18]:
order_products__prior.to_csv('order_products__prior_short.csv')

In [12]:
order_products__train = pd.read_csv('order_products__train.csv')

In [20]:
order_products__train.shape

(1384617, 4)

In [13]:
order_products__train = order_products__train[order_products__train['order_id'].isin(orders)]

In [22]:
order_products__train.head()

        order_id  product_id  add_to_cart_order  reordered
214306    525192       12053                  1          0
214307    525192       47272                  2          1
214308    525192       37999                  3          1
214309    525192       13198                  4          1
214310    525192       43967                  5          1

In [23]:
order_products__train.shape

(104, 4)

In [24]:
order_products__train.to_csv('order_products__train_short.csv')

In [24]:
products = pd.read_csv('products.csv')

In [25]:
products.shape

(49688, 4)

In [26]:
p1 = set(order_products__prior['product_id'].unique())
p2 = order_products__train['product_id'].unique()

In [27]:
select_products = p1.union(p2)

In [28]:
len(select_products)

431

In [29]:
products = products[products['product_id'].isin(select_products)]
products.shape

(431, 4)

In [30]:
products.to_csv('products_short.csv')